<!-- <nav>
              <a href="index.html" target="_blank" rel="noopener noreferrer">
                  <img src="assets/img/Group 33.png" alt="">
              </a>
</nav> -->
<nav class="navbar navbar-expand-md cs-nav  cus-nav ">
    <div class="container"><a href="#" class="navbar-brand"><img
                src="assets/img/Group 33.png" alt=""></a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
    </div>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a [routerLink]="['/property']" class="nav-link text-uppercase font-weight-bold">
                        Services

                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/login']" class="nav-link text-uppercase font-weight-bold">
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <a [routerLink]="['/register']" class="nav-link text-uppercase font-weight-bold">
                        Register
                    </a>
                </li>

            </ul>
        </div>

</nav>
