<div class="login-box">
    <div class="login-logo">
        <a href="javascript:void(0)"><b>Admin</b></a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Reset Password</p>
        <form [formGroup]="resetForm" (ngSubmit)="resetForm.valid && resetPassword()" novalidate>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" formControlName="password"
                    placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div *ngIf="resetForm.get('password')!.errors && submitted">
                    <span *ngIf="resetForm.get('password')!.errors!.required && submitted" class="text-danger">New
                        Password is Required!</span>
                </div>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" name="cpassword" formControlName="cpassword"
                    placeholder="Confirm Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div *ngIf="resetForm.get('cpassword')!.errors && submitted">
                    <span *ngIf="resetForm.get('cpassword')!.errors!.required && submitted" class="text-danger">Confirm
                        Password is Required!</span>
                </div>
                <span *ngIf="resetForm.get('cpassword')!.value && resetForm.errors?.mismatch && submitted"
                    class="text-danger">New Password and Confirm Password must be same!
                </span>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" (click)="submitted=true;"
                        class="btn btn-primary btn-block btn-flat">Submit</button>
                </div>
            </div>
        </form>
        <a routerLink="/">Back To Login</a>
    </div>
</div>