<div
  class="bg-image"
  style="
    background-image: url('/assets/img/mainn.jpg');
    height: 100vh;
    background-size: cover;
    margin-top:0;
    background-attachment: fixed;
    background-position:relative;
    
    
  "
>

<div class="container d-flex justify-content-center align-items-center h-100">
  <div class="row justify-content-md-center">
    <div class="col-md-10">
      <div class="contents text-center text-white">
        <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">Build<br><span>Key To Your Dream</span>
          </h1><br>
          <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">One Solution For The Safest
            Investment In The World</p>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Header Section End -->



<!-- Services Section Start -->
<section id="services" class="section  py-5">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Services</span>
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">With an immersive 3D tour
        experience ,<br>Buildo helps you in finding your match easily ,whether you're a Seller , Buyer or Renter.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <a href="#">
              <span class="material-icons">
                <a [routerLink]="['/property']"><img src="assets/img/home1.png" ></a>
              </span>
            </a>
          </div>
          <h4>Buy a Property</h4>
          <p>Know all about property rates and trend in your favourite city to buy</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon">
            <a href="#">
              <span class="material-icons">
                <img src="assets/img/home2.png">
              </span>
            </a>
          </div>
          <h4>Sell a Property</h4>
          <p>Sell your property with high profit available in market with us.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
            <a href="#">
              <span class="material-icons">
                <img src="assets/img/home3.png">
              </span>
            </a>
          </div>
          <h4>Rent a Property</h4>
          <p>Rent a property at your affordability.We provide you the best of the best</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <a href="#">
              <span class="material-icons">
                <img src="assets/img/home4.png">
              </span>
            </a>
          </div>
          <h4>Rent-to-own</h4>
          <p>Buildo provides you an exclusive offer to rent and then own.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1s">
          <div class="icon">
            <a href="#">
              <span class="material-icons">
                <img src="assets/img/3d.png">
              </span>
            </a>
          </div>
          <h4>Virtual Tour</h4>
          <p>Never before our team gives you the virtual tour of your property.Try it out!!</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1s">
          <div class="icon">
            <a href="#">
              <span class="material-icons">
                <img src="assets/img/agent.png">
              </span>
            </a>
          </div>
          <h4>Find your Agent</h4>
          <p>Stuck? Find your agent with our help. We have the best certified people</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->
<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our<span> Features</span>
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Stand out from others with
        the never before seen 3D tour <br>and create the best match to your need .</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
          <div class="box-item left">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <div class="text">
              <h4> AR/VR Building View</h4>
              <p>AR/VR walk allows you to dive into the models and feel the true sense of space .</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <div class="text">
              <h4>Virtual tour inside out </h4>
              <p>Our virtual tours are as good as being there. Move around ,zoom in and out and explore your property
              </p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <div class="text">
              <h4>Book on Advance</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div [routerLink]="['/property/panoramic-view']" class="show-box wow fadeInDown animated" data-wow-offset="10">
          <img src="assets/img/feature.png" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
          <div class="box-item right">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <div class="text">
              <h4>Maps</h4>
              <p>The map is designed for your hassle-free search</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <div class="text">
              <h4>Top Posts</h4>
              <p>Amazing Posts to make our users get familier with Real-estates as we care about you .</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
              <i class="fa fa-check"></i>
            </span>
            <div class="text">
              <h4>Builders' Portfolio</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Section End -->
<!-- testimonial Section Start -->
<div id="testimonial" class="section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 wow fadeInRight" data-wow-delay="0.3s">
        <div class="touch-slider">
          <owl-carousel [options]="customOptions">
            <div class="testimonial-item" carouselSlide>
              <div class="testimonial-text">
                <blockquote>Best descision I have ever made !!! <br>Thanks team Buildo for the virtual tour feature
                  ,which made it quick and efficient to decide and purchase a new house.
                  <cite>Gaurav</cite>
                  <span>New Delhi</span>
                </blockquote>
              </div>
            </div>

            <div class="testimonial-item" carouselSlide>
              <div class="testimonial-text">
                <blockquote>No other Sites like Buildo<br>I inherited a house and couldn’t sell it, but found Buildo
                  online. I was skeptical, but their offer was fair, we closed on time, and I’d recommend this site to
                  everyone.
                  <cite>Sukriti</cite>
                  <span>Mumbai</span>
                </blockquote>
              </div>
            </div>

            <div class="testimonial-item" carouselSlide>
              <div class="testimonial-text">
                <blockquote>Great job<br>They did great job showcasing the place online with pictures and virtual tours.
                  <cite>Sharad</cite>
                  <span>Jammu</span>
                </blockquote>
              </div>
            </div>

            
            <div class="testimonial-item" carouselSlide>
              <div class="testimonial-text">
                <blockquote>Best User experience<br>I wanted to sell my house but was unsure about the price and all 
                  then I found Buildo and their offer was fair, we closed on time, and I’d recommend this site to
                  everyone.
                  <cite>Niyoj</cite>
                  <span>Nepal</span>
                </blockquote>
              </div>
            </div>

          </owl-carousel>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial Section Start -->
<!-- Contact Section Start -->
<section id="contact" class="section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <div class="contact-block">
          <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Get in
              <span>touch</span>
            </h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          </div>
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required
                    data-error="Please enter your name">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required
                    data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required
                    data-error="Please enter your subject">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your Message" rows="11" data-error="Write your message"
                    required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button text-center">
                  <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
<!-- Subcribe Section Start -->
<div id="subscribe" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe <span>Us</span>
      </h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe to get all
        latest news and offers from us.</p>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <form class="text-center form-inline wow fadeInUp" data-wow-delay="0.3s">
          <input class="mb-20 form-control" name="email" placeholder="Enter Your Email Address">
          <button class="sub_btn">subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Subcribe Section End -->

<!-- Footer Section Start -->
<!-- Footer -->
<footer class="page-footer font-small unique-color-lightsalmon">

  <div style="background-color: #efc62f;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">
          
            <!--Linkedin-->
            <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
            <!--Instagram-->
            <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <i class="fab fa-instagram"></i>
            </a>
          </li>
            <!--Google Plus-->
            <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <i class="fab fa-google-plus"></i>
            </a>
          </li>
            <!--Github-->
            <li class="list-inline-item">
            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
            <i class="fab fa-github"></i>
            </a>
          </li>

          

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">BUILDO</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
        <p>Welcome to Buildo .Here you can get to see the property you want to buy with AR/VR Building View.
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">SERVICES</h6>
        <hr class="deep-purple accent mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Buy property</a>
        </p>
        <p>
          <a href="#!">Sell Property</a>
        </p>
        <p>
          <a href="#!">Rent a Property</a>
        </p>
        <p>
          <a href="#">Find Your Agent</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">USEFUL LINKS</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Our Features</a>
        </p>
        <p>
          <a href="#!">Get in Touch</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">CONTACT</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
         New Delhi, Del 100000, India
        </p>
        <p>
           Buildo@xyz.com
        </p>
        <p>
          + 01 234 567 89
        </p>
        <p>
          + 01 234 567 89
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Copyright:
    <a href="#!"> Buildo</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- Footer Section End -->
