<div class="login-box">
    <div class="login-logo">
      <a href="javascript:void(0)"><b>Admin</b></a>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">Forgot Password</p>
      <form [formGroup]="forgotForm" (ngSubmit)="forgotForm.valid && forgotPassword()" novalidate>
        <div class="form-group has-feedback">
          <input type="email" class="form-control" name="email" formControlName="email" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          <div *ngIf="forgotForm.get('email')!.errors && submitted">
            <span *ngIf="forgotForm.get('email')!.errors!.required && submitted"
                class="text-danger">Email is Required!</span>
        </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button type="submit" (click)="submitted=true;" class="btn btn-primary btn-block btn-flat">Submit</button>
          </div>
        </div>
      </form>
      <a routerLink="/">Back To Login</a>
      <br>
    </div>
  </div>
